.HomePage{
	background-color:white;
}

/*Code d'Alix*/


/*Fin du code d'Alix*/

/*Code d'Abdel*/


/*Fin du code code d'Abdel*/






/*Code de Medhi*/
.nom2marque {
	font-family: Tortuga;
	text-align:center;
	font-size:50px;
}

.menu{
	display:flex;
	flex:1;
	margin-left:80px;
	margin-right:80px;
	background-color : #E0F7FA;
}
.col{
	flex:1;
	border:1px solid grey;
	text-align:center;
	font-size:20px;

}
.dropdown{
	flex:1;
	border:1px solid grey
}
/*Fin du code de Medhi*/
	
	
}	

* {
	font-family : Sunflower;
}

.liens{
	color:black;
	text-decoration:none
}
@font-face {
	font-family : "Tortuga";
	src: url("police/JackPirate.ttf") format("truetype");
}
@font-face {
	font-family : "Sunflower";
	src: url("police/Sunflower.otf") format("Opentype");
}

