.HomePage{
	background-color:#E0E0E0;
}
.photoBox{
	margin-left:550px;
	margin-top:90px;
}

.nom2marque {
	font-family: Tortuga;
	text-align:center;
	font-size:50px;
}
.menu{
	display:flex;
	flex:1;
	margin-left:80px;
	margin-right:80px;
}
.col{
	flex:1;
	border:1px solid grey;
	text-align:center;
	font-size:20px

}
.dropdown{
	flex:1;
	border:1px solid grey
}

	
	
}	

* {
	font-family : Sunflower;
}

.liens{
	color:black;
	text-decoration:none
}
@font-face {
	font-family : "Tortuga";
	src: url("police/JackPirate.ttf") format("truetype");
}
@font-face {
	font-family : "Sunflower";
	src: url("police/Sunflower.otf") format("Opentype");
}

.container {
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.slides {
  display: none;
}

