@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background:#fff;
}
.title{
  margin-left: 600px;
}

.main .content .card .big .text{
    margin-top: 15px;
    margin-left: 80px;
    margin-right: 60px;
    background-color: #E0F7FA;
}
.main .content .card .big img{
    height:300px;
    width: 800px;
    margin-top: 5px;
    max-width: 400px;
    margin-left:500px;
}

.main .content .card .big .img{
    height:260px;
    width: 200px;
    margin-top: 40px;
    max-width: 400px;
    margin-left:580px;
}
